{% extends 'main/base.html' %}

{% block head %}
{% endblock %}

{% block title %}
{{ city_name }}
{% endblock %}

{% block content %}
    <h1>Weather in {{ city_name }} - {{ city.temperature }} °C</h1>

    {% if city and city.weekly_forecast %}
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for day, data in city.weekly_forecast.items %}
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ day }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ data.avg_temperature }}<small class="text-body-secondary fw-light"> °C</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>{{ data.condition }}</li>
                                <li>Humidity: {{ data.humidity }}%</li>
                                <li>Rain Chance: {{ data.rain_chance }}%</li>
                                {% for hour, hourly_data in data.hourly_forecast.items %}
                                    <li>{{ hour }} - {{ hourly_data.temperature }} °C - {{ hourly_data.humidity }}% - {{ hourly_data.condition }}</li>
                                {% endfor %}
                            </ul>
                            <a href="{% url 'main:city_detail' city_name=city_name %}" class="w-100 btn btn-lg btn-outline-primary">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>We do not have weather data available for this city.</p>
    {% endif %}
{% endblock %}

